.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.price {
  font-size: 3.5rem;
  margin-top: 1rem;
}

.coin {
  text-transform: capitalize;
}

.currency {
  text-transform: uppercase;
}

.news-item a {
  color: #555;
}

.news-item img {
  max-width: 283px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(48,49,51,0.1);
  margin: 10px;
  padding: 0;
}

.news-text {
  padding: 10px;
}